/** IMPORTS **/
@import "tailwindcss";
@import "variables.scss";
// @import "reset.scss";

/** GLOBAL **/

body {
  background: #ffffff;
  color: #3b3b3b;
  transition: background 0.3s ease, color 0.3s ease;
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/** DARK MODE **/

.dark {
  body {
    background: rgb(61, 61, 61);
    color: #cac5c5;
  }
}

/** VERSION: PC **/

#pc-wrap {
    width: 100%;
    height: 100%;

    .container {
        position: relative;
        width: 1300px;
        margin: 0 auto;
        display: flex;
    }
}
