#pc-wrap {
	#property-detail-page {
		position: relative;
		padding-top: 150px;
		padding-bottom: 200px;
		.property-detail-config {
			width: 100%;
			height: auto;
			padding: 25px;
			gap: 30px;
			.property-info-config {
				width: 100%;
				height: auto;
				gap: 30px;
				.info {
					width: 100%;
					height: auto;
					flex-direction: row;
					justify-content: space-between;
					align-items: end;
					.left-box {
						
					}
					.right-box {
						width: auto;
						height: auto;
						align-items: flex-end;
						p {
							color: #181a20;
							text-align: right;
							font-family: $font;
							font-size: 26px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.52px;
						}
					}
				}
				.images {
					width: 100%;
					height: auto;
					gap: 10px;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					.main-image {
						width: 55%;
						height: 400px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 20px;
						}
					}
					.sub-images {
						width: 40%;
						height: auto;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 10px;
						padding: 20px;
						.sub-img-box {
							width: 220px;
							height: 150px;
							cursor: pointer;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								border-radius: 20px;
							}
						}
					}
				}
			}
			.property-desc-config {
				width: 100%;
				height: auto;
				flex-direction: row;
				gap: 22px;
				.left-config {
					width: 760px;
					height: auto;
					gap: 40px;
					.prop-desc-config {
						width: 100%;
						height: auto;
						gap: 50px;
						padding: 29px 38px 50px 38px;
						border-radius: 12px;
						transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
						border: 2px solid rgba(0, 0, 0, 0.06);
						&:hover {
							transform: translateY(-8px);
							box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
							.cardImage {
							transform: scale(1.1);
							}
						}
						.top {
							width: 100%;
							height: auto;
							gap: 30px;
							.title {
								color: #181a20;
								font-family: $font;
								font-size: 17px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
							.desc {
								color: #181a20;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
								max-height: 104px;
							}
						}
					}
					.floor-plans-config {
						width: 100%;
						height: auto;
						gap: 30px;
						padding: 30px 38px;
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
						border: 2px solid rgba(0, 0, 0, 0.06);
						&:hover {
							transform: translateY(-8px);
							box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
							.cardImage {
							transform: scale(1.1);
							}
						}
						.title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.amenities-box {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							gap: 25px;
							.icons-box {
								width: 145px;
								height: 70px;
								display: flex;
								flex-direction: row;
								align-items: center;
								.check-icon {
									font-size: 15px;
									color: green;
									margin-right: 20px;
								}
								.main-icon {
									font-size: 20px;
									margin-right: 10px;
									color: #2637ca;
								}
								span {
									font-size: 13px;
								}
							}
						}
					}
					.address-config {
						width: 100%;
						height: auto;
						gap: 30px;
						padding: 30px 38px;
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
						border: 2px solid rgba(0, 0, 0, 0.06);
						&:hover {
							transform: translateY(-8px);
							box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
							.cardImage {
							transform: scale(1.1);
							}
						}
						.title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.map-box {
							width: 100%;
							height: 400px;
							iframe {
								border-radius: 12px;
							}
						}
					}
					.reviews-config {
						width: 100%;
						height: auto;
						padding: 30px 38px 45px 38px;
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
						border: 2px solid rgba(0, 0, 0, 0.06);
						&:hover {
							transform: translateY(-8px);
							box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
							.cardImage {
							transform: scale(1.1);
							}
						}
						.filter-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							justify-content: space-between;
							margin-bottom: 30px;
							.review-cnt {
								width: auto;
								height: auto;
								flex-direction: row;
								align-items: center;
								gap: 12px;
								.reviews {
									width: 153.6px;
									color: #181a20;
									font-family: $font;
									font-size: 17px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
							.select-box {
								width: auto;
								height: auto;
								flex-direction: row;
								gap: 10px;
								.sort-title {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
								.select-main {
									width: 140px;
									border: none;
									outline: none;
									color: #181a20;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}
						}
						.review-list {
							width: 100%;
							height: auto;
							gap: 20px;
							.review-config {
								width: 100%;
								height: auto;
								padding-bottom: 10px;
								border-bottom: 1px solid #c4c4c4;
								.review-mb-info {
									width: 100%;
									height: auto;
									flex-direction: row;
									justify-content: space-between;
									.img-name-box {
										width: 30%;
										flex-direction: row;
										align-items: center;
										gap: 20px;
										.img-box {
											width: 65px;
											height: 65px;
											align-items: center;
											justify-content: center;
											border-radius: 50%;
											background: #f6f6f6;
											border: 1px solid #b9b9b9;
											object-fit: cover;
										}
										.name {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											cursor: pointer;
										}
										.date {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
									.review-stars {
										padding-top: 10px;
									}
								}
								.desc-box {
									width: 100%;
									height: auto;
									margin-top: 15px;
									.description {
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 26px;
									}
								}
							}
							.pagination-box {
								margin-top: 15px;
								width: 100%;
								height: auto;
								display: flex;
								justify-content: center;
							}
						}
					}
					.leave-review-config {
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
						padding: 30px 38px;
						transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
						border: 2px solid rgba(0, 0, 0, 0.06);
						&:hover {
							transform: translateY(-8px);
							box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
							.cardImage {
							transform: scale(1.1);
							}
						}
						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.review-title {
							margin-top: 20px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						textarea {
							width: 100%;
							height: 120px;
							margin-top: 8px;
							padding: 20px;
							border-radius: 8px;
							border: 1px solid #ddd;
							color: #717171;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
						.submit-btn {
							width: 100%;
							display: flex;
							justify-content: flex-end;
							button:disabled {
								background: linear-gradient(90deg, #D4A017 0%, #462e01 100%);
							}
							.submit-review {
								display: flex;
								width: 256px;
								margin-top: 30px;
								padding: 16px 30px;
								justify-content: center;
								align-items: center;
								gap: 10px;
								border-radius: 30px;
								border: 1px solid #c4c4c4;
								cursor: pointer;
								.title {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}
				}
				.right-config {
					width: 500px;
					height: fit-content;
					padding: 30px 25px;
					gap: 20px;
					border-radius: 12px;
					align-items: center;
					border: 1px solid rgba(196, 196, 196, 0.79);
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
					transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
					border: 2px solid rgba(0, 0, 0, 0.06);
					&:hover {
						transform: translateY(-8px);
						box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
						.cardImage {
						transform: scale(1.1);
						}
					}
					.info-box {
						position: relative;
						width: 100%;
						gap: 8px;
						.top-card-box {
							width: 100%;
							height: auto;
							display: flex;
							flex-direction: row;
							img {
								width: 190px;
								height: 110px;
								border-radius: 20px;
							}
							.info-box {
								display: flex;
								flex-direction: column;
								justify-content: center;
								margin-left: 30px;
							}
						}
						.reserve-button {
							display: flex;
							width: 100%;
							padding: 16px 30px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							border-radius: 16px;
							background: green;
							.title {
								color: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
					.reserve-info {
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
					}
					.line {
						border: solid black 0.5px;
						border-radius: 50%;
						width: 100%;
					}
				}
			}
			.similar-properties-config {
				width: 100%;
				margin-top: 45px;
				gap: 66px;
				.title-pagination-box {
					width: 100%;
					height: auto;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-end;
					.title-box {
						width: 30%;
						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
						}
						.sub-title {
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
					}
				}
				.cards-box {
					width: 100%;
					height: 150px;
					padding-bottom: 10px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					margin-bottom: 20px;
					.right-card-box-small {
                        width: 31%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
                        border: 1px solid rgba(0, 0, 0, 0.06);
                        margin: 7px;
                        border-radius: 16px;
						margin-bottom: 20px;
						cursor: pointer;
                        &:hover {
                            transform: translateY(-8px);
                            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
                        }
                        .cardImageWrapper {
                            position: relative;
                            overflow: hidden;
                            width: 40%;
                            .top-icon{
                                display: flex;
                                flex-direction: row;
                                position: absolute;
                                justify-content: center;
                                align-items: center;
                                padding: 5px;
                                color: red;
                                text-shadow: 0px 8px 3px rgba(255, 255, 255, 0.25);
                                z-index: 2;
                            }
							.top-icon-top{
                                display: flex;
                                flex-direction: row;
                                position: absolute;
                                justify-content: center;
                                align-items: center;
                                padding: 5px;
                                color: red;
                                text-shadow: 0px 8px 3px rgba(255, 255, 255, 0.25);
                                z-index: 2;
                            }
                            .cardImage {
								height: 120px;
                                transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
                                background-size: cover;
								background-position: center;
                                border-radius: 10px;
                            }
                        }
                        .obsion-box {
                            display: flex;
                            flex-direction: row;
                            padding: 5px;
                            margin-left: 8px;
                            width: 60%;
                            .info-box {
                                width: 83%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            .rating-box {
                                margin-left: 15px;
                            }
                        }
                    }
						
				}
			}
		}
	}
}
