#pc-wrap {
    #mypage-list {
        .container {
            .my-page-top{
                width: 100%;
                height: 220px;
                padding: 25px;
                margin-bottom: -30px;
                .my-menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .profile-info-box {
                        width: 15%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                        .profile-img {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                        }
                        .user-name {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .user-phone {
                            color: gray;
                        }
                        .user-type {
                            color: red;
                            font-weight: 500;
                        }
                    }
                    .sections {
                        width: 83%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 40px;
                        .focus {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 20px;
                            font-weight: bold;
                            width: 140px;
                            span{
                                font-size: 10px;
                                color: rgb(232, 69, 69);
                                text-decoration: underline;
                                
                            }
                            .icon {
                                font-size: 40px;
                                color: rgb(232, 69, 69);
                            }
                        }
                        .section {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 125px;
                            span{
                                font-size: 10px;
                            }
                            .icon {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .my-page-main {
                padding: 30px;
                margin-bottom: 50px;
            }
        }
    }
}